<?xml version="1.0" encoding="UTF-8"?>
<phpunit cacheDirectory=".phpunit.cache"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnDeprecation="false"
         failOnPhpunitDeprecation="false"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage/>
</phpunit>